
@{
    ViewBag.Title = "UpdateBlogPost";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model MVCBlog.Areas.Admin.Models.DTO.BlogPostVM
@using MVCBlog.Areas.Admin.Models.Types
<script src="~/ckeditor/ckeditor.js"></script>
<section class="content-header">
    <h1>
        Blog Yazısı Oluştur
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">

        <div class="col-md-9">
            @Html.Partial("/Areas/Admin/Views/Shared/Partial/FormMessagesPart.cshtml")

           
           
            <div class="box box-primary">
                <div class="box-header with-border">

                </div>

                @using (Html.BeginForm())
                {
                    <div class="box-body">
                        <div class="form-group">
                            <label>Başlık</label>
                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Başlık" })
                            @Html.ValidationMessageFor(x => x.Title)
                        </div>
                        <div class="form-group">
                            <label>Kategori</label>
                            @Html.DropDownList("CategoryID", Model.drpCategories, "Seçiniz", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>İçerik</label>
                            @Html.TextAreaFor(x => x.Content, new { @class = "ckeditor", @value="x=> x.Content"})
                        </div>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kayıt</button>
                    </div>
                }

            </div>

            <!-- /.box -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

